#header-container {
    height: 100px;
    background: rgb(32, 32, 32);
    position: relative;
}

h1 {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

nav li {
    display:inline-block;
    color:white;
    padding-right: 10px;
}

nav {
    position: absolute;
    right: 0%;
}