#header-container {
    height: 100px;
    background: none;
    position: relative;
}

#header-container h1 {
    color: rgb(207, 207, 207);
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    top: 15%;
    left: 0;
    padding-left: 40px;
    font-size: 30pt;
    cursor: default;
    font-weight: 800;
}

#header-container nav li {
    display:inline-block;
    color: rgb(207, 207, 207);
    padding-right: 30px;
    cursor: pointer;
    font-size: 18pt;
}

#header-container nav {
    position: absolute;
    right: 0;
    top: 30%;
}

#header-container nav li:hover {
    color: white;
    font-size: 20pt;
}

#header-container .selected-menu {
    color:white;
    font-size: 23pt;
}